@import "tailwindcss";

@source "../../components";
@source "../../layouts";
@source "../../pages";
@source "../../plugins";
@source "../../app.vue";
@source "../../error.vue";

@theme {
    --color-white: #e2fffc;
    --color-black: #101012;
    --color-dark-black: #000000;
    --color-blue: #0000ff;
    --color-red: #f33c17;

    --font-default: system-ui, sans-serif;
    /* --font-secondary: ABCDiatype, sans-serif; */

    --text-sm: 12px;
    --text-sm--line-height: 1.25;
    --text-base: 100%;
    --text-base--line-height: normal;
    --text-lg: 32px;
    --text-lg--line-height: 1.1;
}

/* Fonts */
/*
@font-face {
    font-family: 'ABCDiatype';
    src: url('/fonts/ABCDiatype-Regular-Trial.woff2') format('woff2'),
        url('/fonts/ABCDiatype-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
